<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AgodaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgodaApp"
        tools:targetApi="31">

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AgodaApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.FlightListActivity" />
        <activity android:name=".activities.BookingDetailsActivity" />
        <activity android:name=".activities.PaymentActivity" />
        <activity android:name=".activities.PaymentSuccessActivity" />
        <activity android:name=".activities.BookingConfirmationActivity" />
        <activity android:name=".activities.MyBookingsActivity" />
        <activity android:name=".activities.ProfileActivity" />

    </application>

</manifest>